body{
	margin:0;
	font-family: sans-serif;
	
    animation:  transitionin 2s;
    
	background-color: #b3d9ff;
}

*{
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

header{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	padding:20px 30px;
}
.banner{
	margin-bottom: 50px;
}
header .logo{
	float: left;
}
header .logo a{
	font-size:30px;
	color:#ffffff;
}
header .trigger-main{
 float: right;
 padding-top:10px;
}
header .trigger-main a{
 display: inline-block;
 position: relative;
 z-index:101;
}
header .trigger-main a span{
	display: block;
	height:3px;
	background-color: #0092b3;
	margin-bottom:8px;
	width:30px;
	transition: all .5s ease;
}
header .trigger-main a span.one{
	transform-origin: left top;
}
header .trigger-main a span.two{
	transform-origin: left bottom;
}

header .trigger-main a.close span.one{
	transform: rotate(45deg) translateY(-6px);
}
header .trigger-main a.close span.two{
	transform: rotate(-45deg) translateY(6px);
}
header nav{
	background-color:   #00a7cc;
	opacity: .7;
	position: fixed;
	z-index: 100;
	right:0;
	top:0;
	height:100%;
	width:320px;
	padding:80px 40px 0px;
	transform: translateX(100%);
	transition: all .5s ease;
	transition-delay: 1.2s;
	text-align: center;
}
header nav.open{
	transition-delay:0s;
}
header nav ul{
	padding:0;
	margin:0;
	list-style: none;
}

header nav ul li{
	display: block;
	padding:15px;
}
header nav ul li a{
	font-size:20px;
	color:#ffffff;
	letter-spacing:.5px;
	font-weight: bold;
	transition: all .5s ease;
	transform: translateX(50px);
	opacity:0;
	display: block;
	padding-bottom: 25%;
}

header nav ul li:nth-child(1) a{
  transition-delay:0.2s;
}
header nav ul li:nth-child(2) a{
  transition-delay:0.4s;
}
header nav ul li:nth-child(3) a{
  transition-delay:0.6s;
}
header nav ul li:nth-child(4) a{
  transition-delay:0.8s;
}
header nav ul li:nth-child(5) a{
  transition-delay:1s;
}
header nav ul li:nth-child(6) a{
  transition-delay:1.2s;
}
header nav.open{
	transform: translateX(0);
}
header nav.open ul li a{
	transform: translateX(0px);
   opacity: 1;
}
.banner{
	float: left;
	width: 100%;
	height: 100vh;
	/* background-image: url("laccompagnement-social-a-luniversite-de-la-rochelle-1600x640.jpg") no-repeat; */
	background-size: cover;
	background: url(img/1.png) center no-repeat;
	opacity: .8;
}


h1{
	color: #0092b3;
	font-size: 2.5rem;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0 0.1rem 0.2rem #00d0ff;
	opacity: 1;
	
}

.about{
	text-align: center;
	margin-top: 50px ;
	margin-left: 350px;
	margin-right: 350px;
	/* background-color: tomato; */
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: justify;
	
}

.about p{
	font-size: 1.5rem;
	font-weight: 500;
	color: #006880;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* Gallety */

  
  .container {
    max-width: 760px;
	margin: auto;
	/* margin-top: 10%; */
    /* border: #fff solid 3px; */
	background: #b3d9ff;
	
	
  }
  
  .main-img img, .imgs img {
	width: 100%;
    border-radius:2px;
   
  }
  
  .main-img img{
      height: 500px;
  }

  .imgs img{
      height: 100px;
  }

  .imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*To show 5 images in each coulm,, similar to 1fr, 1fr, 1fr, 1fr, 1fr*/
    grid-gap: 5px;
  }
  
  .imgs img {
    cursor: pointer;
  }
  
  /* Fade in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: .3;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
  }
  
  .footer{
    margin:1rem ;
     
     margin-bottom: 10px;
     box-shadow: 0 1rem 3rem #277F9E !important;
     background-color: 00ace6;
     padding: 1rem 0 1rem 0;
     /* margin-bottom: 0px; */
     
 }
 .footer-list{
   display: flex;
   justify-content: center;
   overflow: hidden;
 }
 
 .footer-link{
   font-size: 1rem;
   color: #277F9E;
   margin: 0 2rem;
   /* padding-bottom: .2rem; */
   padding: .5rem 3rem;
   letter-spacing: .2rem;
   transition: all .2s ;
   
 }
 
 .footer-link:hover{
   transform: rotate(-10deg);
   box-shadow: 0 2rem 3rem #277F9E;;
 }
 .footer-paragraph{
   text-align: center;
   font-size: 1rem;
   color: #277F9E;
   letter-spacing: .1rem;
   margin-top: 1rem;
 }

 @keyframes transitionin{
    from{
     opacity: 0;
     transform: rotateX(-10px);
    }
    to{
    opacity: 1;
    transform: rotateX(0);
    }
  }

  .loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow: hidden;
  }
  .loader-wrapper .loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	border: 3px solid transparent;
	border-top-color: #3498db;
	border-radius: 50%;
	z-index: 1001;
	animation: spin 1.5s infinite linear;
	overflow: hidden;
  }
  .loader-wrapper .loader:before, .loader-wrapper .loader:after {
	content: "";
	position: absolute;
	border-radius: 50%;
  }
  .loader-wrapper .loader:before {
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border: 3px solid transparent;
	border-top-color: #ff0066;
	animation: spin 2s infinite linear;
  }
  .loader-wrapper .loader:after {
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	animation: spin 1s infinite linear;
  }
  @keyframes spin {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  
  /*Section */
  .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #b3e0ff;
	z-index: 1000;
	overflow: hidden;
  }
  .loader-section.section-left {
	left: 0;
  }
  .loader-section.section-right {
	right: 0;
  }
  /*Finished Loading Styles*/
  .loaded .section-left {
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transform: translateX(-100%);
	overflow: hidden;
  }
  .loaded .section-right {
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transform: translateX(100%);
	overflow: hidden;
  }
  .loaded .loader {
	transition: all 0.3s ease-out;
	opacity: 0;
  }
  .loaded .loader-wrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition: all 0.3s 1s ease-out;
	overflow: hidden;
  }
  
  
